/* 
1. Posicionamiento
2. Modelo de Caja: tamaño, width, height
3. Tipografía: tamaño, fuente
4. Visuales: border radios
5. Otros: 
 */
:root {
  --linear-BG: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black1: #282623;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
  --secondary-grey: #757575;
  --third-grey: #808080;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: var(--linear-BG);
}

.header--logo {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 50px;
  text-align: center;
  align-self: center;
}

.header--title-container h1 {
  color: var(--just-white);
  font-weight: bold;
  line-height: 2.6rem;
  font-size: 2.4rem;
}

.header--title-container p {
  margin-top: 2.4rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--soft-orange);
}

.header--title-container .header--button {
  position: absolute;
  display: block;
  bottom: -2.4rem;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 1.2rem 1.6rem;
  width: 22.9rem;
  height: 4.8rem;
  background-color: var(--off-white);
  /*Sombra*/
  box-shadow: 0rem 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--warm-black);
  text-decoration: none;
}

.header--button span {
  display: inline-block;
  width: 19px;
  height: 18px;
  margin-left: -1px;
  background-image: url("./assets/icons/mdi_keyboard_arrow_down.svg");
}

main {
  width: 100%;
  height: auto;
  padding-top: 6rem;
  background-color: var(--off-white);
}
.main-exchange-container {
  justify-content: center;
  height: auto;
  text-align: center;
}

.main-exchange-container .backgroundImg {
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 19.5rem;
  height: 19.5em;
  background-image: url("./assets/imgs/bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container .main-exchange-container--title {
  width: 100%;
  min-width: 28.8rem;
}

.main-exchange-container .main-exchange-container--title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  padding-top: 4rem;
  color: var(--warm-black);
}

.main-exchange-container .main-exchange-container--title p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  padding-top: 3rem;
  color: var(--secondary-grey);
}

.main-tables-container {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 2rem;
  height: 50rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.main-currency-table,
.main-comission-table {
  width: 70%;
  scroll-snap-align: center;
  min-width: 23.5rem;
  max-width: 29.4rem;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
  display: flex;
  margin: 1.5rem;
  margin-top: 5rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
  font-family: "DM Sans", sans-serif;
}

.main-comission-table .comission-table--title {
  display: flex;
  margin: 1.5rem;
  margin-top: 5rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  color: var(--secondary-blue);
  font-family: "DM Sans", sans-serif;
}

.currency-table--container,
.comission-table--container {
  width: 90%;
  min-width: 23rem;
  max-width: 30rem;
  height: 25rem;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.currency-table--container table,
.comission-table--container table {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}

.currency-table--container td,
.comission-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #b5b0ac;
  background-color: var(--just-white);
}

.currency-table--container td:first-child,
.comission-table--container td:first-child {
  text-align: left;
  padding-left: 2rem;
}

.currency-table--container .table__top-left,
.comission-table--container .table__top-left {
  border-radius: 0.8rem 0 0 0;
}

.currency-table--container .table__right,
.comission-table--container .table__right {
  border-radius: 0 0.8rem 0 0;
}

.currency-table--container .table__bottom-right,
.comission-table--container .table__bottom-right {
  border-radius: 0 0 0.8rem 0;
}

.currency-table--container .table__bottom-left,
..comission-table--container .table__bottom-left {
  border-radius: 0 0 0 0.8rem;
}

.currency-table--container .table__right,
.comission-table--container .table__right {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: var(--secondary-grey);
}

.currency-table--container .down {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(./assets/icons/trending-down\ 1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--container .up {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(./assets/icons/trending-up\ 1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--date {
  width: 17.3rem;
  height: 3rem;
  margin: 0 auto; /* centrar*/
  padding: 0.8rem;
  margin-top: 1.5rem;
  border-radius: 0.8rem;
  background-color: var(--soft-orange);
}

.currency-table--date p {
  line-height: 1.5rem;
  font-size: 1.2rem;
  color: var(--warm-black);
}

.comission-table--date {
  width: 17.3rem;
  height: 3rem;
  margin: 0 auto; /* centrar*/
  padding: 0.8rem;
  margin-top: 1.5rem;
  border-radius: 0.8rem;
  background-color: var(--soft-blue);
}

.comission-table--date p {
  line-height: 1.5rem;
  font-size: 1.2rem;
  color: var(--warm-black);
}

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 32rem;
  height: auto;
  padding: 2rem 1rem;
  background-color: var(--warm-black);
}

.product-detail--batata-logo {
  position: absolute;
  width: 4rem;
  height: 2.5rem;
  top: -1rem;
  left: calc(50% - 2rem);
  background-image: url(./assets/imgs/logo.svg);
  background-repeat: no-repeat;
}

.product-detail--title {
  width: 90%;
  min-width: 28.8rem;
  height: auto;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
}

.product-detail--title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--just-white);
}

.product-detail--title p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--third-grey);
  margin-top: 2rem;
}

.product-detail--card {
  width: 90%;
  min-width: 28.8rem;
  max-width: 40rem;
  min-height: 15rem;
  margin: 1.5rem auto;
  padding: 1.5rem;
  background-color: var(--warm-black1);
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
}

.product-detail--card .clock {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
  background-image: url(./assets/icons/clock\ 1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail--card .eye {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
  background-image: url(./assets/icons/eye\ 1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail--card .dollar-sign {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
  background-image: url(./assets/icons/dollar-sign\ 1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail--card .check {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
  background-image: url(./assets/icons//check-circle\ 1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product--card-title {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 700;
  color: var(--just-white);
}
.product--card-body {
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--third-grey);
}

.bitcoin-img-container {
  width: 100%;
  min-width: 32rem;
  height: 60vh;
  background-image: url(./assets/imgs/bitcoinbaby-1.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bitcoin-img-container h2 {
  text-align: center;
  padding-top: 5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6;
  color: var(--just-white);
}
.plans-info-container {
  width: 100%;
  min-width: 32rem;
  text-align: center;
}

.plans-info--main {
  width: 95%;
  min-width: 28.8;
  height: auto;
  margin: 0 auto;
}

.plans-info--main h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;
  padding-top: 5rem;
  color: var(--black);
}

.plans-info--main p {
  padding-top: 2rem;
  margin: 1rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--secondary-grey);
}

.plans-container--slider {
  display: flex;
  gap: 2rem;
  height: 33rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 19rem;
  max-width: 30rem;
  height: 25rem;
  margin: 5rem 0.5rem 0;
  padding: 0 1.5rem;
  background-color: var(--just-white);
  box-shadow: 0px 4px 8px 3px rgba(89, 73, 30, 0.16);
  border-radius: 0.8rem;
  font-family: "Inter", sans-serif;
}

.recomended {
  padding: 0.65rem;
  position: absolute;
  top: -1.5rem;
  width: 10rem;
  height: 3rem;
  left: calc(50% - 5rem);
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  background-color: var(--bitcoin-orange);
  color: var(--just-white);
  border-radius: 0.8rem;
}

.card-card--title {
  padding-top: 3.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--black);
}
.plan-card--price {
  margin-top: 1rem;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.3rem;
}

.plan-card--price span {
  position: relative;
  top: -3rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.plan-card--saving {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--secondary-grey);
}

.plan-card--ca {
  width: 15rem;
  height: 5rem;
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 700;
  color: var(--warm-black);
  background-color: var(--off-white);
  border-radius: 0.4rem;
  border: 0.2rem solid var(--bitcoin-orange);
  font-family: "Inter", sans-serif;
}

.plan-card--ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(./assets/icons/arrow-right\ 1.svg);
  vertical-align: text-bottom;
}

.basico {
  padding: 0.65rem;
  position: absolute;
  top: -1.5rem;
  width: 10rem;
  height: 3rem;
  left: calc(50% - 5rem);
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  background-color: #133558;
  color: var(--just-white);
  border-radius: 0.8rem;
}

.plans-container--slider article:nth-child(2) {
  background-color: var(--secondary-blue);
}

.plans-container--slider article:nth-child(2) p {
  color: var(--just-white);
}
.plans-container--slider article:nth-child(2) .plan-card--ca {
  color: #133558;
  background-color: var(--just-white);
  border: none;
  font-family: "Inter", sans-serif;
}
.plans-container--slider article:nth-child(2) .plan-card--ca span {
  background-image: url(./assets/icons/arrow-right\ blue.svg);
}

.vip {
  padding: 0.65rem;
  position: absolute;
  top: -1.5rem;
  width: 10rem;
  height: 3rem;
  left: calc(50% - 5rem);
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  background-color: #30b6ff;
  color: var(--just-white);
  border-radius: 0.8rem;
}

.plans-container--slider article:last-child {
  background-color: var(--soft-blue);
}

.plans-container--slider article:last-child p {
  color: #175791;
}

.plans-container--slider article:last-child .plan-card--ca {
  color: var(--just-white);
  background-color: #133558;
  border: none;
  font-family: "Inter", sans-serif;
}
.plans-container--slider article:last-child .plan-card--ca span {
  background-image: url(./assets/icons/arrow-right\ white.svg);
}

.footer-container {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bitcoin-orange);
}

.links-ul-list li {
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  list-style: none;
}

.links-ul-list a {
  color: var(--just-white);
  text-decoration: none;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
}

.footer-logo-container img {
  height: 2.4rem;
  margin-bottom: 1rem;
}

.footer-logo-container p {
  font-size: 0.8rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--soft-orange);
}
